.grid {
	.related-title {
		margin-top: -96px;
		margin-bottom: 40px;
		margin-left: 40px;
	}

	.blog-card {
		display: grid;
		gap: $spacing_six;
		margin-top: $spacing_seven;

		.card-img {
			margin-bottom: $spacing_four;
		}

		@media (min-width: $breakpoint-sm) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: $breakpoint-lg) {
			grid-template-columns: repeat(4, 1fr);
		}

		h2 {
			font-size: 24px;
			line-height: 40px;
			text-align: center;
		}

		.cards {
			transition: all 1.6s ease;
			overflow: hidden;

			&.big {
				grid-column: span 2;
			}

			&.tall {
				grid-row: span 2;
			}

			a {
				text-decoration: none;
			}

			.card-img {
				width: 100%;
				height: 100%;
				overflow: hidden;

				img {
					border-style: none;
					width: 100%;
					object-fit: cover;
					height: 100%;
				}
			}

			.card-txt {
				box-sizing: border-box;
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				opacity: 0;
			}

			@media (min-width: $breakpoint-sm) {
				h3 {
					font-size: 24px;
					line-height: 32px;
					-webkit-line-clamp: 2;
				}
			}

			.btm {
				display: flex;
				justify-content: space-between;
				margin: 16px 16px 0 16px;
				padding-bottom: 16px;

				.ath {
					display: flex;
					align-items: center;

					img {
						border-style: none;
						width: 24px;
						object-fit: cover;
						height: 24px;
						margin: 0;
					}
				}
			}

			h2 {
				max-height: 64px;
				max-width: 800px;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis;
				color: var(--white);
			}

			p {
				padding: 0;
				color: var(--grey_med);
				font-size: 15px;
				line-height: 25px;
			}

			a {
				padding: 0;

				&:hover {
					text-decoration: none;
				}
			}

			&:hover,
			:focus {
				transform: scale(1.04);
				border-radius: 500px;

				.card-txt {
					opacity: 1;
					top: 50%;
				}

				.card-img {
					filter: grayscale(1) brightness(24%);
					transform: rotate(180deg) scale(1.4);
				}
			}
		}
	}
}
