<footer>
	<div class="footers-contact">
		<div class="footers-inner">
			<p>Want to work together? <a href="/contact/">Get in touch</a>.</p>
		</div>
	</div>
	<div class="footers-theme">
		<div class="footers-inner" id="footer-theme">
			<div class="footers-theme-item" id="default">
				<h5>default</h5>
			</div>
			<div class="footers-theme-item" id="candy">
				<h5>candy</h5>
			</div>
			<div class="footers-theme-item" id="sea">
				<h5>sea</h5>
			</div>
		</div>
	</div>
	<div class="footers-bottom">
		<div class="footers-inner">
			<p>&copy; artbytmo. All rights reserved.</p>
		</div>
	</div>
</footer>
