<footer>
	<div class="footers-contact">
		<div class="footers-inner">
			<p>Want to see more? <a href="https://www.instagram.com/xtmto/">Check out my work on Instagram</a>.</p>
		</div>
	</div>
	<div class="footers-theme">
		<div class="footers-inner" id="footer-theme">
			<div class="footers-theme-item" id="default">
				<h5>default</h5>
			</div>
			<div class="footers-theme-item" id="candy">
				<h5>candy</h5>
			</div>
			<div class="footers-theme-item" id="sea">
				<h5>sea</h5>
			</div>
		</div>
	</div>
	<div class="footers-bottom">
		<div class="footers-inner">
			<p>&copy; xtmto. All rights reserved.</p>
		</div>
	</div>
</footer>
